<div id="<%= dom_id search_song %>" class="p-4 mb-4 bg-white shadow-md rounded-lg">
    <div class="flex items-center mb-2">
        <strong class="block text-gray-700 text-sm font-bold mr-2">Title:</strong>
        <p class="text-gray-900"><%= search_song.title %></p>
    </div>
    
    <div class="flex items-center mb-4">
        <strong class="block text-gray-700 text-sm font-bold mr-2">Artist:</strong>
        <p class="text-gray-900"><%= search_song.artist_name %></p>
    </div>
    
    <div class="flex space-x-2">
        <%= link_to "歌詞を見る", search_song_path(search_song), class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" %>
        <%= button_to "歌詞を削除", search_song_path(search_song), method: :delete, class: "bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded" %>
    </div>
</div>
