<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "UtaSearch" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_pack_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>
  <body class="bg-gray-100 text-gray-900">
    <div class="min-h-screen flex flex-col">
      <!-- Header -->
      <header class="bg-blue-600 text-white py-4">
        <div class="container mx-auto px-4 flex items-center justify-between">
          <h1 class="text-3xl font-bold">
            <%= link_to "UtaSearch", root_path, class: "text-white" %>
          </h1>
          <%= form_with model: @search_song, url: search_results_search_songs_path, method: :get, local: true, class: "flex items-center space-x-4" do |form| %>
            <div class="flex flex-col">
              <%= form.label :title, "Title", class: "block text-sm font-bold mb-1 text-white" %>
              <%= form.text_field :title, class: "shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline w-48 h-10" %>
            </div>
            <div class="flex flex-col">
              <%= form.label :artist_name, "Artist", class: "block text-sm font-bold mb-1 text-white" %>
              <%= form.text_field :artist_name, class: "shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline w-48 h-10" %>
            </div>
            <div>
              <%= form.submit "検索", class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline h-10" %>
            </div>
          <% end %>
          <%= link_to "使い方", how_to_use_search_songs_path, class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded ml-4" %>
        </div>
      </header>

      <!-- Main Content -->
      <main class="flex-grow container mx-auto px-4 py-8">
        <%= yield %>
      </main>

      <!-- Footer -->
      <footer class="bg-gray-800 text-white py-4">
        <div class="container mx-auto px-4 text-center">
          <p>&copy; <%= Time.now.year %> UtaSearch. All rights reserved.</p>
        </div>
      </footer>
    </div>
  </body>
</html>
